<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert"></button>
  <div class='form-group'>Looks like we don't have a customer with that email address</div>
  <button type="button" class= "btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create a new Customer
  </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @person , :url => people_path  do |f| %>
          <%= f.label "First Name" %>
          <%= f.text_field :first_name, type:"name", class: "autocomplete col-md-5 form-control", id:"exampleInputEmail1" , placeholder:"First Name",required: true  %>
          <%= f.label "Last Name" %>
          <%= f.text_field :last_name, type:"name", class: "autocomplete col-md-5 form-control", id:"exampleInputEmail1" , placeholder:"Last Name"  %>
          <%= f.label "Email" %>
          <%= f.text_field :email, type: "email", class: "autocomplete col-md-5 form-control", id:"exampleInputEmail1" , placeholder:"Email"  %>
          <%= f.label "Phone" %>
          <%= f.phone_field :phone, class: "col-md-5 form-control", id:"exampleInputEmail1" , placeholder:"Phone" %>
          <%= f.label "Visit Date for this Person" %>
          <%= f.date_field :visit_date, type: "date", class: "autocomplete col-md-5 form-control", id:"exampleInputEmail1" , placeholder:"Email"  %>
          <div class="modal-footer">
            <%=f.submit "Create Person", class:"btn btn-primary "%>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>