
<%if params[:format] == "modal" %>
  <%= render :partial => "create_person_modal" %>
<%else%>
  <div class="form-group">
    <hr class="my-4">
    <h3 class='label'>Create a new message</h3>
    <hr class="my-4">
    <%= form_for @message, url: api_v1_custom_message_path do |f| %>
      <%= f.label "Message", class:"col-form-label" %>
      <%= f.text_area :body, id: "inputDefault", class: "form-control col-md-2 ", placeholder:"Message" %>
      <%= fields_for @message.person.email do |p| %>
        <%= p.label "Email of Recipient" %>
        <%= p.text_field :email, type:"email", class: "autocomplete col-md-2 form-control", id:"exampleInputEmail1" , placeholder:"Email"  %>
      <% end %> 
      <%= f.submit "Create", class: "input-group-text", data: {toggle:"modal",target:"exampleModal"} %>
    <% end %>
  </div>
  <%end%>
<div >
  <table class="table table-hover">
    <hr class="my-4">
  <h3 class='label'>All Messages</h3>
  <hr class="my-4">
    <thead>
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Recipient</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.body %></td>
        <td><%= link_to "#{message.person.email}", person_path(message.person.id) %></td>
        <td><%= message.sent ? "Sent": "Not Sent" %></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
  

