
<div class= "form-control">
  <%if @person.messages.present? %>
    <h4><%=@person.first_name%>   <%=@person.last_name%>'s Messages (<%=@person.messages.count%>)</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Message</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @person.messages.each do |message| %>
          <tr>
            <td> <%= link_to "#{message.body}", message_path(message) %></td>
            <td> <%= message.sent ? "Sent" : "Not Sent" %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%else%>
    <h4><%=@person.first_name%>  <%=@person.last_name%> has no messages</h4>
  <%end%>
</div>